[Unit]
Description=Danapfel Digital E-Mail Bot
After=network.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/emailbot
ExecStart=/root/emailbot/cron_emailbot_biweekly.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=emailbot

[Install]
WantedBy=multi-user.target

